# Configuration OpenOCD pour STM32H5 (Eirbot) - Spéciale Mode DAP
source [find target/swj-dp.tcl]

if { [info exists CHIPNAME] } {
   set _CHIPNAME $CHIPNAME
} else {
   set _CHIPNAME stm32h5x
}

set _ENDIAN little
set _TARGETNAME $_CHIPNAME.cpu

# IDCODE CoreSight du Cortex-M33
if { [info exists CPUTAPID] } {
   set _CPUTAPID $CPUTAPID
} else {
   set _CPUTAPID 0x6ba02477
}

# Déclaration de la puce
swj_newdap $_CHIPNAME cpu -irlen 4 -ircapture 0x1 -irmask 0xf -expected-id $_CPUTAPID

# Gestion propre du transport 'dap'
if { [transport select] eq "dap" } {
    set _DAPNAME $_CHIPNAME.cpu
} else {
    set _DAPNAME $_CHIPNAME.dap
    dap create $_DAPNAME -chain-position $_CHIPNAME.cpu
}

# Création de la cible (No RTOS flag here = RTOS disabled cleanly)
target create $_TARGETNAME cortex_m -endian $_ENDIAN -dap $_DAPNAME

adapter speed 3300

# Fix Cortex-M33 Reset behavior: Force SYSRESETREQ directly
cortex_m reset_config sysresetreq

# Correct reset config for ST-Link DAP mode on STM32H5
reset_config srst_only srst_nogate